{% extends 'HWIOAuthBundle::layout.html.twig' %}





{% block hwi_oauth_content %}

    <div class="social-login">
        <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-facebook" href="{{ hwi_oauth_login_url('facebook') }}">
                <i class="fa fa-facebook"></i> {{ 'facebook' | trans({}, 'HWIOAuthBundle') }}
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="{{ hwi_oauth_login_url('google') }}">
                <i class="fa fa-google-plus"></i> {{ 'google' | trans({}, 'HWIOAuthBundle') }}
            </a>
        </div>
    </div>

{% endblock hwi_oauth_content %}
