//
//
//




.navbar {
  background-color: rgba(61, 92, 137, 0.7);
  .container-fluid {
    margin-top: 20px;
  }
  color: #fff;

  &-brand {
    height: 52px;
    width: 189px;
    background-image: url('http://txt-dynamic.static.1001fonts.net/txt/dHRmLjcyLmZmZmZmZi5SRlZEVHcsLC4w/quantico.regular.png');
  }

  p {
    display: none;
    color: #FFFFFF;
  }

  .security-links {
    .glyphicon {
      color: #FFFFFF;
    }
    .logout-text {
      display: none;
      color: #FFFFFF;
    }
  }

  &-form {
    margin-top: 0px;
  }

  .input-group {
    width: 100%;

    &-btn {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .navbar-header {
    margin-top: 20px;
  }

  .centered-search-box {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .navbar-form .form-control {
    width: 100%;
  }

  .navbar-header {
    p {
      margin-top: 10px;
    }
  }

}